.Weather {
    border: 1px solid black;
    border-radius: 3px;
}

.Weather form {
    margin: 10px 5px;
}

.Weather h1 {
    margin: 10px 10px 30px;
    font-size: 42px;
}

.Weather p {
    text-align: right;
    margin: 20px 10px 0 0;
}
.Weather ul {
    list-style: none;  
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
}

.Weather li {
    display: inline-block;
    margin: 25px 0;
}

.Weather img {
    display: inline-block;
    margin-left: 60px;
    line-height: 1;
    padding: 5px;

}
.Weather .temperature {
font-size: 64px;
line-height: 1;
margin-left: 20px;
}

.Weather .unit {
    position: relative;
    top: -32px;
    margin-left: 4px;
}