.Weather {
    border: 2px solid #566782;
    border-radius: 8px;
    padding: 20px 10px 0px 10px;
    background-color: rgba(164, 195, 178, 0.25);
    
}

.Weather form {
    margin: 10px 5px;
}


.Weather h1 {
    margin: 10px 10px 30px;
    font-size: 42px;
    color: #88b1ef;
}

.Weather p {
    text-align: right;
    margin: 20px 10px 0 0;
    color: #566782;
}
.Weather ul {
    list-style: none;  
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    color: #566782;
}

.Weather li {
    display: inline-block;
    margin: 25px 0;
}

.Weather canvas {
    display: inline-block;
    margin-left: 60px;
    line-height: 1;
    padding: 5px;

}
.Weather .temperature {
font-size: 64px;
line-height: 1;
margin-left: 20px;
color: #88b1ef;
}

.Weather .unit {
    position: relative;
    top: -32px;
    margin-left: 2px;
    color: #88b1ef;
    font-weight: bold;
}

.Weather a {
text-decoration: none;
color: lightgray;
}